body {
  color: #ccc;
  background: #333333;
}

#wrap {

}

#content {
  display: flex;
}

#main {
  min-width: 400px;
  width: 50wv;
  max-width: 1080px;
  max-height: calc(100vh - 40px);
}

#app {
  transform-origin: 0 0;
}

#sidebar {
  margin-left: 20px;
  width: 20vw;
  min-width: 280px;
}
